<div class="container_fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Oops! That page doesn't exist. Please select a link below.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav>
                <a routerLink="/" routerLinkActive="active">
                  <button class="btn btn-primary mr-sm-2">Home</button>
                </a>
                <a routerLink="/search" routerLinkActive="active">
                  <button class="btn btn-secondary">Search For Repositories</button>
                </a>
              </nav>
        </div>
    </div>
</div>
