<div class="container_fluid">
    <div class="row mb-sm-3">
        <div class="col-md-12">
            <h3>{{title}} - {{displayQuery}}</h3>
        </div>
    </div>
    <div class="row">  
        <div class="col-md=3" style="min-width:33%;"></div>      
        <div class="col-md-4 mb-sm-5">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Search GitHub</span>
                </div>
                <input class="form-control" name="query" placeholder="Enter Search Here" aria-label="Search GitHub" [(ngModel)]="searchQuery"/>
                <button class="btn btn-primary ml-sm-2" (click)="sendQuery()">Submit</button>
            </div>    
        </div>
        <div class="col-md-3" style="min-width:33%;"></div>
    </div>
    <div *ngIf="searchResults is nothing; else elseBlock">
        <div class="row">
            <div class="col-md-12">
                <h3>Total Results: {{searchResults.total_count}}</h3>
            </div>
        </div>
        <div class="row ml-sm-5 mr-sm-5">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item mt-sm-3 mb-sm-3"
                        [ngStyle]="{'background-color' : (i % 2 === 0) ? 'white' : 'silver'}"
                        *ngFor="let result of searchResults.items; index as i">
                        <a [href]="result.html_url">
                            <img [src]="result.owner.avatar_url" style="width: 100px; height: 100px;" />
                            <h4>{{result.name}}
                                <small> by {{result.owner.login | uppercase}}</small>
                            </h4>
                        </a>
                        <p> {{result.description}}</p>
                        <p> Created On: {{result.created_at | date: 'fullDate'}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>Loading...</ng-template>